{% extends "core/style/default.html" %}
{% load cms_tags static menu_tags %}
{% load i18n %}
{% block title %}{% trans 'Search' %}{% endblock %}
{% block css %}
    <style>

        .res{

            background-color: #ffffff;
        }

    .gsc-search-button
{
{#    background-color: #008CC9;#}
    border-radius: 5px;
}
.gsc-input-box input[type="text"] {
  -webkit-box-shadow: none;
  box-shadow: none;
    height: 20px;
    font-size: 16px;
}

.gsib_a {
   border: 1px solid #cccccc;
    margin-top: 0 !important;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0 !important;
}

.gsst_a {
    padding-top: 5px !important;
}

.gsc-tabsArea > div {

overflow: hidden !important;
}

.gsst_a .gscb_a {
color: #ccc !important;

}

input.gsc-input {
    border-color: #cccccc !important;
    height: 28px !important;
    box-shadow: none !important;
}

 .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
border-color: #cccccc !important;
    height: 34px !important;
    box-shadow: none !important;
}

table.gsc-search-box td {
    vertical-align: top !important;
}

input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus{
    border:0px !important;
}

table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
    line-height: 1 !important;
}

.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
    color:#333333 !important;
}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    background-color: #008CC9 !important;
    background-image: url("{% static 'images/cercagooglea.jpg' %}") !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 20px !important;
    border-color: #008CC9 !important;
    filter: none;
    outline: none !important;
    box-shadow: none !important;
}


    .gsc-search-button {

border-radius: 0;
}

    img.gs-image {
margin-left: 6px !important;
}
    .gs-bidi-start-align.gs-snippet {
margin-left: 7px;
}
    .gsc-tabsArea {
border-color: #999 !important;
}

    .gsc-tabHeader.gsc-tabhActive {
border-color: #999 !important;
border-bottom: none !important;
}

    .gsc-selected-option-container{
        width: 100px !important;
    }

    .gs-fileFormat {
margin-left: 4px !important;
}

    .gsc-cursor-page{
        background-color: #999 !important;
        color: white !important;
        padding: 8px 14px !important;
    }

    .gsc-cursor-current-page{
        background-color: #0054a0 !important;
    }

    .gsc-results .gsc-cursor-box {
margin: 0 6px 10px !important;
}

    .gs-title{
        line-height: 100% !important;
    }
     .gsc-results .gsc-cursor-box {

padding-top: 40px !important;
}

    .gsc-imageResult .gs-imageResult .gs-text-box .gs-ellipsis {

margin-left: 0 !important;
}

    .gssb_c .gsc-completion-container {

margin-top: 28px !important;
}

.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
    color: #1155CC !important;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
    color: #009933 !important;
}

.gsc-resultsHeader {
    display: none;
}

    </style>
{% endblock %}

{% block js_app %}
    <script>
        $(function(){
            $('#bt-search').on('click', function(e){
                e.preventDefault();
                $('form[name=frmSearch]').submit();
            });
        });
    </script>
{% endblock %}

{% block base_content %}
<div class="container">
    <header class="header list hide-for-small">
        <div class="row left-collapse">
            <div class="small-12 medium-12 large-12 columns">
{#                <img class="filer_image " width="946" src="/media/filer_public_thumbnails/filer_public/bc/3b/bc3bbd4a-9d05-4e63-b8eb-9977db12a74d/banner-sfondo-blu.jpg__946x125_q85_crop_upscale.jpg" alt="banner search">#}
                <h1 class="spectitle-ban"> {% trans 'Cerca nel sito' %} </h1>
            </div>
        </div>
    </header>


     <div class="row">
    {#    <div class="col-lg-12  q">#}
        <div class="small-12 medium-12 large-12 columns q">






            <form name="frmSearch" action="{% url 'google-search' %}" method="get">
                <div class="row">
    {#                <div class="col-lg-12 res">#}
                    <div class="small-12 medium-12 large-12 columns">

                    <script>
                      (function() {
                        var cx = '002428789002328237876:qcvxcwty5w0';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                    <gcse:search></gcse:search>

                    </div>
                </div>

            </form>
        </div>
     </div>
</div>
<style>
   div.gsc-selected-option-container{
        width: 100px !important;
    }

</style>
{% endblock %}