.teaser.banner {
  margin-bottom: 30px; }
  .teaser.banner .banner-container {
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover; }
    .teaser.banner .banner-container img {
      visibility: hidden; }
    .teaser.banner .banner-container .banner-content {
      position: absolute;
      bottom: 50px;
      color: white;
      left: 50px; }
