{% load static i18n %}
<footer>
  <div class="footer_holder clearfix">
        <div class="footer_top_holder">
            <div class="footer_top">
                 <div class="container">
                   <div class="container_inner clearfix">
                    <div class="footer_top_inner">
                        <div class="four_columns clearfix">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                    <div class="column_inner">
                                        <div class="textwidget">
                                            {% trans 'Tutti i diritti riservati &copy; 2016   BARTORELLI Gioiellerie - P.Iva 01730340401  |  ' %}
                                            <a target="blank" style="margin-right: 10px;" href="/privacy-e-note-legali/">{% trans 'Note legali' %}</a>
                                            <a target="blank" href="http://www.hoopcommunication.it/">{% trans 'Credits' %}</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {% include './interface/social.html' %}
                            </div>
                        </div>
                    </div>
                   </div>
                 </div>
            </div>
        </div>
  </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                        {% include 'custom_auth/login.html' %}
                </div>
            </div>
        </div>
    </div>

</footer>
