{% load i18n %}
{% load static cms_tags menu_tags sekizai_tags %}
{% get_current_language as LANGUAGE_CODE %}

<div class="content">
    <div class="col-sx-12 text-center">
        <div id="lang_sel_footer">
            <ul>
                {% for language in active_languages %}
                    <li><a href="/{{ language.code }}/">{{ language.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>