{% load static i18n %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="column_inner">
        <div class="textwidget social">
            <ul class="social_menu ">
                <li class="facebook"><a target="_blank" href="https://www.facebook.com/pages/Bartorelli-Gioiellerie/233084130084512"><span class="inner">facebook</span></a></li><li class="youtube"><a target="_blank" href="http://www.youtube.com/user/bartorellimaison"><span class="inner">youtube</span></a></li><li class="pinterest"><a target="_blank" href="http://www.pinterest.com/bartorelli/"><span class="inner">pinterest</span></a></li><li class="instagram"><a target="_blank" href="https://instagram.com/bartorelligioiellerie_official/"><span class="inner">instagram</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
