{% extends "mailing/mail_base.html" %}
{% load i18n %}



{% block mail_base_content %}
    {% blocktrans %}
    <p>
        Salve {{editor_first_name}} {{ editor_last_name }},<br />

        L'utente {{ author_first_name }} {{ author_last_name }} ({{ author_email }}) ha appena inserito il numero di protocollo <br />
        per il contratto di {{ edited_content_contr }}
        assegnato dall'Ade ed è il seguente :
        <i>{{ edited_content_nrprotoade }}</i><br /><br />
        <br/>
    </p>
    {% endblocktrans %}
{% endblock %}