{% extends "core/style/default.html" %}
{% load form_tags %}
{% load static i18n %}

{% block base_content %}
    <div class="row change_user_data userpost">
        <div class="small-12 columns">
            <h1 class="page_title">{% trans 'Edita il tuo profilo' %}</h1>
            <form action="" method="post">
                {% csrf_token %}
                 <div class="row">
                    <div class="col-md-3 columns">
                        {{ form.first_name.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.first_name|addcss:"input" }}
                        {{ form.first_name.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.last_name.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.last_name|addcss:"input" }}
                        {{ form.last_name.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.email.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.email|addcss:"input" }}
                        {{ form.email.errors }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.username.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.username|addcss:"input" }}
                        {{ form.username.errors }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 columns text-center">
                        <button type="submit" class="btn btn-default">{% trans 'Aggiorna' %}</button>
                    </div>
                </div>
            </form>
        </div>
         {% if data_saved %}
            <div class="col-md-12 columns message text-center"><h2>{% trans 'Profilo aggiornato correttamente!' %}</h2></div>
        {% endif %}
    </div>
{% endblock %}