{% load form_tags %}
{% load static %}
{% load cms_tags sekizai_tags %}
{% load i18n %}

<div class="login-box">
    {% if not user.is_authenticated %}
        <div class="row register" style="margin-top:40px">
            <div class="small-6 small-offset-6 columns text-center">
                <a href="{% url 'user:create_user' %}">Iscriviti</a>
            </div>
        </div>
        <div class="row register">
        <div class="small-6 small-offset-6 columns text-center">
        <form method="post" name="login_form_box" action="{% url 'user:login_user' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}" />
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" class="input" placeholder="{% trans 'Username' %}" name="username">
                </div>
                <div class="large-12 columns">
                    <input type="password" class="input" placeholder="{% trans 'Password' %}" name="password">
                </div>
            </div>
            <div class="row form-bottom">
                    <div class="small-8 medium-12 large-8 columns forgot-password">
                        <a href="{% url 'user:password_reset' %}">{% trans 'Hai dimenticato la password?' %}</a>
                    </div>
                    <div class="small-4 medium-12 large-4 columns text-center">
                        <button type="submit">{% trans 'Login' %}</button>
                    </div>
                {% if message_login_fail %}
                    <div class="large-12 columns">
                        {{ message_login_fail }}
                    </div>
                {% endif %}
            </div>
        </form>
        </div>
        </div>
    {% else %}
        <div class="row register" style="margin-top:40px">
            <div class="small-6 small-offset-6 columns text-center user user">
                <div class="welcome">{% trans 'Welcome' %} <span>{{ user }}</span></div>
                <form method="post" action="{% url 'user:logout_user' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <button class="button" type="submit">{% trans 'Logout' %}</button>
                </form>
                <ul>
                    <li><a href="{% url 'user:change_user_data' %}">{% trans 'Edit' %}</a></li>
                    <li><a href="{% url 'user:change_user_password' %}">{% trans 'Change' %} password</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
</div>