{% extends "core/style/default.html" %}
{% load form_tags %}
{% load static i18n %}

{% block base_content %}
    <div class="row password_reset_done userpost">
        <div class="small-12 columns">
            {% trans "We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly." %}
        </div>
    </div>
{% endblock %}