{% extends "core/style/default.html" %}
{% load form_tags cms_tags %}
{% load static i18n %}

{% block base_content %}

    <div class="row user_creation userpost">
        <div class="small-12 columns">
            <h1 class="page_title">{% trans 'Registrazione utente' %}</h1>
            <form action="{% url 'user:create_user' %}" method="post">
                {% csrf_token %}
                <div class="row">

                    <div class="col-md-3 columns">
                        Nome
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.first_name|addcss:"input" }}
                        {{ form.first_name.errors }}
                    </div>

                    <div class="col-md-3 columns">
                        Cognome
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.last_name|addcss:"input" }}
                        {{ form.last_name.errors }}
                    </div>

                    <div class="col-md-3 columns">
                        {{ form.email.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.email|addcss:"input" }}
                        {{ form.email.errors }}
                    </div>

                    <div class="col-md-3 columns">
                        {{ form.username.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.username|addcss:"input" }}
                        {{ form.username.errors }}
                    </div>

                    <div class="col-md-3 columns">
                        {{ form.password1.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.password1|addcss:"input" }}
                        {{ form.password1.errors }}
                    </div>

                    <div class="col-md-3 columns">
                        {{ form.password2.label }}
                    </div>
                    <div class="col-md-3 columns">
                        {{ form.password2|addcss:"input" }}
                        {{ form.password2.errors }}
                    </div>

                </div>

                <div class="row privacy">
                    <div class="col-md-12 columns">
                        <div class="privacy_description">{% trans ' I dati personali saranno trattati in conformità con l’informativa presente nella sezione ' %}<a
                                href="{% page_url 'privacy' %}" target="_blank">Privacy</a>
                        </div>
                    </div>
                    <div class="col-md-12 columns">
                        <div class="privacy_label">{{ form.privacy_ok|addcss:"input" }}{% trans 'Autorizzo al trattamento dei dati personali *' %}</div>
                        {{ form.privacy_ok.errors }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 columns text-center">
                        <button type="submit" class="btn btn-default">{% trans 'Send' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}