.htmltext-editor-container label {
    float: none !important;
    width: auto !important;
    margin-bottom: 3px !important;
}
.htmltext-editor-container .help {
    margin-left: 0 !important;
    padding-left: 0 !important;
}