@import "bootstrap/variables";


$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Open Sans", Georgia, "Times New Roman", Times, serif !default;


//** Global text color on `<body>`.
$text-color:            $gray-dark;
$brand-primary:         #cacaca;
$brand-primary-sec:     #ffffff;
$gray-soandso:          #9e9e9e;
$gray-light:            #8b8b8a;
$gray-lblight:          #696969;
$gray-lighter:          #e8ebee;

$link-color:            $brand-primary;
$link-hover-color:      $brand-primary-sec;

$base-font-size: 13px;

$border-radius-base:        0px;
$abbr-border-color: #dad9d9;

//== Breadcrumbs
$breadcrumb-padding-vertical:   8px;
$breadcrumb-padding-horizontal: 0px;
//** Breadcrumb background color
$breadcrumb-bg:                 #fff;
//** Breadcrumb text color
$breadcrumb-color:              #c6c6c6;
//** Text color of current page in the breadcrumb
$breadcrumb-active-color:       $brand-primary;
//** Textual separator for between breadcrumb elements
$breadcrumb-separator:          " ";

//navbar
$navbar-default-bg:                #ffffff;
$navbar-default-border:            #fff;

$navbar-default-toggle-icon-bar-bg:        #000000;
$navbar-default-toggle-border-color:       transparent;

$navbar-default-link-active-bg:            transparent;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$padding-small-vertical:    4px;
$padding-small-horizontal:  24px;

$btn-font-weight:                600 !default;
$btn-default-color:              #1a1a1a !default;

$btn-primary-color:              #fff;
$btn-primary-bg:                 #a7a7a6;
$btn-primary-border:             darken($btn-primary-bg, 5%);

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-base;
$btn-border-radius-large:        $border-radius-base;
$btn-border-radius-small:        $border-radius-base;


//== Pagination
//
//##

$pagination-color:                     $link-color;
$pagination-bg:                        #c7c7c7;
$pagination-border:                    $pagination-bg;

$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  transparent;
$pagination-hover-border:              $pagination-bg;

$pagination-active-color:              $link-color;
$pagination-active-bg:                 transparent;
$pagination-active-border:             transparent;

//Panel
$panel-bg:                    #fff !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         $border-radius-base !default;

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          $gray-dark !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;

$panel-primary-text:          #000 !default;
$panel-primary-border:        $brand-primary !default;
$panel-primary-heading-bg:    $brand-primary !default;


