@import "base";
@import "bootstrap";
@import "navigation";

html,
body {
  height: 100%;
  position: relative;
  width: 100%;
  font-family: "Open Sans",sans-serif;
  background-color: #1a1a1a;
}
html {
  display: block;
  -webkit-font-smoothing: antialiased;
  @media (max-width: $screen-sm-min) {
    display: block;
  }
}
body {
  display: block;
  font-family: "Open Sans",sans-serif;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 22px;

  vertical-align: top;
  @media (max-width: $screen-sm-min) {
    display: block;
  }
}

header {
    background-color: #000000 !important;
    background-color: #0d0d0d;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}


.content-wrapper {
    background-color: rgba(13, 13, 13, 0.7) !important;
    background-color: #0d0d0d;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    text-decoration: none;
    color:$brand-primary;
}

h1 {
  font-size: 35px;
  padding-top:0px;
  margin-top:0px;

}
h3 {
  font-size: 30px;
}
h5 {
    font-size: $base-font-size;
    line-height: 13px;
}
p {
  font-size: $base-font-size;
  font-weight: 400;
  color:$brand-primary;
}

.btn-default {
  font-size: 13px;
  font-weight: 600;
  color: #1a1a1a;
  margin-top:5px;
}

a{
  color: $link-color;
  font-weight: 600;
  outline: none;
  -webkit-transition: color 0.2s linear;  /* Safari */
  -moz-transition: color 0.2s linear;
  transition: color 0.2s linear;
  &:active{
    outline: none;
  }
  &:focus{
    outline: none;
  }
  &:hover{
    color: $link-hover-color;
    outline: none;
    text-decoration: none;
  }
}
ul{
  list-style: none;
}

.title.has_background {
    background-position: center 0;
    background-repeat: no-repeat;
}
.title {
    display: block;
    height: 330px;
    line-height: 330px;
    position: relative;
    width: 100%;
}

.container.top_move {
    animation: 1s ease-out 0s normal both 1 running flyincontent;
    margin: -50px 0 0;
    position: relative;
}
.container {
    padding: 0;
    width: 100%;
    z-index: 1000;
}
.container_inner {
   margin: 0 auto;
   max-width: 1260px;
  .header_inner_right {
      display: table;
      float: none;
      margin: 0 auto;
  }
}


.container.top_move .container_inner {
    background-color: #1f1f1f;
    margin: 0 auto;
    color:#ffffff;
    .container_inner2 {
      padding: 30px;
      color:#ffffff;
    }
}

.content-wrapper{
  .container-fluid{
    max-width: 1260px;
  }
  & > .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    &.contentmargin50 {
      margin-top:-50px;
    }
  }
  .page-content {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.thumbnail {
    border: 0 solid #dddddd;
    border-radius: 0;
    display: block;
    line-height: 1.42857;
    margin-bottom: 25px;
    padding: 0;
    transition: border 0.2s ease-in-out 0s;
}

footer{
  font-size: $base-font-size;
  background-color: rgba(13, 13, 13, 0.7);
  ul{
    margin:0;
    padding: 0;
  }



  .footer_top{
    padding: 5px 0;
    padding-top:0px;
    font-size: $base-font-size;
    ul li a {
          font-size: 12px;
          font-weight: 600;
          line-height: 31px;
      }
    h6 {
          color: #9b9b9c;
          margin-bottom: 5px;
          font-size: 12px;
      }
   .textwidget {
        color: #ffffff;
    }
   ul li {
          display: inline;
          float: left;
          margin: 0 10px 0 0;
          padding: 0;
          width: auto;
          a {
              background-color: #ccc;
              background-color: #ffffff;
              border-radius: 30px;
              display: block;
              float: left;
              height: 26px;
              margin: 0;
              overflow: hidden;
              padding: 0;
              text-align: center;
              text-indent: -9999px;
              transition: all 0.25s ease 0s;
              vertical-align: middle;
              width: 26px;
          }
      }
   .social_menu {
        line-height: 31px;
        display: inline-block;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        li.facebook a .inner {
            background-position: -28px 0;
        }
        li.youtube a .inner {
            background-position: -422px 0;
        }
        li.pinterest a .inner {
            background-position: -56px 0;
        }
        li.instagram a .inner {
            background-position: -477px 0;
        }
        li a span.inner {
            background-image: url("../images/social_icons_sprite.png");
            background-repeat: no-repeat;
            display: block;
            height: 26px;
            margin: -1px 0 0 -1px;
            overflow: hidden;
            position: relative;
            transition: all 0.25s ease 0s;
            width: 26px;
        }
    }

    .footer-right{
      h4{
        font-size: 28px;
        font-weight: 300;
        text-transform: uppercase;
      }
      .desc{
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 20px;
        text-transform: uppercase;
      }

      .form-control{
        border-radius: 0;
        border-right: none;
        &:focus {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border-color: $brand-primary;
        }
      }
      .btn.btn-with-icon{
        border-left: none;
        -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.075);
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 12px;
        font-weight: 600;
        height: 34px;
        padding: 6px 12px !important;
        text-transform: uppercase;
      }
    }
  }
  .footer-bottom {
    border-top: 2px solid $brand-primary;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 11px;
    padding-bottom: 28px;
    padding-top: 12px;
    .footer-menu {
      font-size: 12px;
      overflow: hidden;
      li {
        float: left;
        padding-left: 10px;
        text-transform: uppercase;
      }
    }
  }

  .footer_top_holder {
      overflow: hidden;
      width: 100%;
  }

  .footer_top_inner .column_inner .textwidget {
      margin-top: 10px;
      color: #494949;
      font-weight: 600;
      margin-top: 10px;
      text-transform: uppercase;
      a {
        color: #494949;
      }
      &.social {
        margin-top:0px;
      }
  }
}

#lang_sel_footer {
    background-color: rgba(13, 13, 13, 0.7);
    border: 0 none;
    color: #999;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    padding: 7px;
    text-align: center;
    padding-bottom: 0px;
    ul {
        list-style: outside none none;
        margin: 0;
        padding: 0;
        li {
            border-left: 1px solid #494949;
            padding: 0 10px;
            display: inline;
            line-height: 25px;
            margin: 0 1px 0 0;
            white-space: nowrap;
            a {
                color: #ffffff;
            }
        }
        li:first-child {
            border-left: 0px solid #494949;
        }
    }
}


/* SEARCH */
.search-form{
  margin: 0;
  button.btn{
    border-color: transparent;
    font-size: 18px;
    padding: 0;
    -webkit-transition: all 0.4s ease 0s; /* Safari */
    transition: all 0.4s ease 0s;
    &:hover {
      background-color: transparent;
      font-size: 20px;
    }
  }
  .input-group {
    .form-control {
      border-color: transparent;
      border-radius: 4px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-family: 'Open sans', Arial;
      left: -1px;
      -webkit-transition: all 0.4s ease 0s; /* Safari */
      transition: all 0.4s ease 0s;
      &:hover {
        border-color: #cccccc;
      }
      &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: $brand-primary;
      }
    }
  }
}

.pagination {
  > li{
    > a {
      margin-left: 2px;
    }
    > span{
      margin-left: 2px;
    }
  }
}
/* COL WITH EQUAL HEIGHT */
.inside {
}
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.content {
}

/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: $screen-xs-min) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}
@media (max-width: $screen-sm-min){
  .row-xs-padding{
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: $screen-sm-min) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: $screen-md-min) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: $screen-lg-min) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}

/* BUTTONS */
.btn {
  &.btn-readmore {
    border-color: $brand-primary;
    color: $brand-primary;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    &:hover {
      background-color: $gray-lighter;
    }
  }
}

/* CARET */
// http://www.lugolabs.com/lugoland/articles/6-create-a-thin-caret-with-html-and-css
.caret {
  border: none;
  cursor: pointer;
  left: 2%;
  position: absolute;
  &:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    left: 10px;
    position: absolute;
  }
  &:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    left: 10px;
    position: absolute;
    z-index: 20;
  }
  &.down{
    top: -1px;
    &:before {
      top: 1px;
      border-top: 11px solid $brand-primary;
    }
    &:after {
      top: 0;
      border-top: 11px solid #fff;
    }
  }
  &.up {
    bottom: -1px;
    &:before {
      bottom: 1px;
      border-bottom: 11px solid $brand-primary;
    }
    &:after {
      bottom: 0;
      border-bottom: 11px solid #fff;
    }
  }
}

/* GENERAL */
.bottom-margin-small{
  margin-bottom: 4px;
}
.bottom-margin{
  margin-bottom: 10px;
}
.right-margin{
  margin-right: 4px;
}
.no-right-padding{
  padding-right: 0;
  @media (max-width: $screen-xs-min) {
    //padding-left: 0;
    padding-right: 15px;
  }
}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.no-gutter-md{
  @media (min-width: $screen-sm-min) {
    &>[class*='col-'] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

/* BACK BUTTON */
.back {
  .back-btn {
    display: inline-blocK;
    font-family: 'Open Sans', Arial;
    font-size: 14px;
    font-weight: 600;
  }
}

/* SOCIAL LINKS */
.social-links {
  bottom: auto;
  left: auto;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 216px;
  z-index: 900;
  li {
    padding-bottom: 1px;
    a {
      background-color: #000000;
      color: #ffffff;
      display: inline-block;
      font-size: 16px;
      min-width: 40px;
      padding: 10px;
      text-align: center;
    }
  }
  &.animated-header-scroll{
    top: 124px;
  }
}

/***** boutiques ******/
.title_with_line_holder {
    display: block;
    margin: 0 0 18px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}
.title_with_line {
    background-color: #1f1f1f;
    display: inline-block;
    padding: 0 10px 0 0;
    position: relative;
    text-align: left;
    z-index: 100;
}
.title_with_line_separator {
    box-shadow: 0 1px 0 #fff;
    display: inline-block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 10;
}

.aside{
    &.widget {
        color: #fff;
        border-color: $abbr-border-color;
        border-bottom: 1px solid $abbr-border-color;
        margin-bottom: 30px;
        padding-bottom: 20px;
      h5 {
        font-size: 13px;
        line-height: 13px;
        margin: 0 0 18px;
        text-transform: uppercase;
        color: #ffffff;
        font-weight:600;
      }
  }
}


/*********************/

.userpost {
 margin-top:250px;
}
.custom_user {
  color:#fff !important;
}
.welcome {
  color:#fff !important;
}

.container {
  &.lista {
    margin-top: 200px;
  }
}

.panel-heading {
    background-image: url("../images/angle-circled-down.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    margin-left: 20px;
  }
.collapsepanel {
  &:hover {
    color:#000;
  }
  &:focus {
    color:#000;
  }
  .testo {
    padding-left: 20px;
    padding-right: 20px;
    font-size:14px;
  }
}

.errorlist {
  color:red;
}

input, button, select, textarea {
  color: #000;
}