{% load sekizai_tags %}
{% load thumbnail %}
{% load static %}
{% load i18n %}

{% addtoblock "css" %}
    <link href="{% static 'stylesheets/pleiadi_cmsplugins/teaser/teaser_banner.css' %}" rel="stylesheet">
{% endaddtoblock %}

<div class="row teaser video">

        {% if instance.video_id %}
            <div class="col-lg-12 banner-container">
                {% if instance.video_type == 'YT' %}
                    <iframe src="//www.youtube.com/embed/{{ instance.video_id }}"
                            width="{{ instance.video_width }}" height="{{ instance.video_height }}"
                            frameborder="0" allowfullscreen></iframe>

                {% elif instance.video_type == 'VM' %}
                    <iframe src="//player.vimeo.com/video/{{ instance.video_id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=fff"
                            width="{{ instance.video_width }}" height="{{ instance.video_height }}"
                            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                {% elif instance.video_type == 'YK' %}
                    <iframe src="http://player.youku.com/embed/{{ instance.video_id }}"
                            width="{{ instance.video_width }}" height="{{ instance.video_height }}"
                            frameborder=0 allowfullscreen></iframe>
                {% endif %}
            </div>
        {% endif %}

</div>
<!-- /.row -->