{% extends "core/style/default.html" %}
{% load form_tags i18n static cms_tags %}


{% block css_app %}
    <link href="{% static "contacts/stylesheet/contacts.css" %}" rel="stylesheet">
{% endblock %}

{% block js_app %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $("#id_datastipulacontratto").datepicker({
        dateFormat: "dd/mm/yy",
        monthNames: [ "Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre" ],
        numberOfMonths: 2,
        onSelect: function(selected) {
           $("#id_datainiziolocazione").datepicker("option","minDate", selected)
        }
    });
    $("#id_datainiziolocazione").datepicker({
        dateFormat: "dd/mm/yy",
        monthNames: [ "Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre" ],
        numberOfMonths: 2,
        onSelect: function(selected) {
           $("#id_dataprimascadenzacontratto").datepicker("option","minDate", selected)
        }
    });
    $( "#id_dataprimascadenzacontratto" ).datepicker({
        dateFormat: "dd/mm/yy",
        monthNames: [ "Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre" ],
        numberOfMonths: 2,
    });

    //controlli condizionali sui campi
    var conditional_fields = $("div.elecodfis");
{#    conditional_fields.hide();#}

{#    $(".shipping").change(function() {#}
{#        if ($(this).prop('checked') === 'checked') {#}
{#            conditional_fields.show();#}
{#        } else {#}
{#            conditional_fields.hide();#}
{#        }#}
{#    });#}
  });
  </script>

<script type="text/javascript">
  var conditional_fields = $("div.elecodfis");
  function tiposerviziox(el) {
{#      alert(el.value + " - " + conditional_fields)#}
      if (el.value=='reg') {
            conditional_fields.show();
      } else {
            conditional_fields.hide();
      }
  }
{#     $(function() {#}
{##}
{#        $( "#id_datastipulacontratto" ).datepicker({#}
{#            beforeShowDay: function(date) {#}
{#                var day = date.getDay();#}
{#            },#}
{#            dateFormat: "dd/mm/yy"#}
{#        });#}

{#        //Disable region field, activate only if italian country is selected#}
{#        var region = $('#id_region');#}
{#        region.prop('disabled', true);#}
{##}
{#        $('#id_country').on('change', function(){#}
{#            if ($(this).val() == 'IT') {#}
{#                region.prop('disabled', false);#}
{#            } else {#}
{#                region.prop('disabled', true);#}
{#            }#}
{#        });#}
{##}
{#        //Disable region field, activate only if italian country is selected#}
{#        var region = $('#id_region');#}
{#        region.prop('disabled', true);#}

{#        $('#id_birthday').on('change', function(){#}
{#            if ($(this).val() == '21') {#}
{#                region.prop('disabled', false);#}
{#            } else {#}
{#                region.prop('disabled', true);#}
{#            }#}
{#        });#}

{#        $('.form-wrapper').tooltip();#}

{#     });#}
</script>

{% endblock %}
{% block base_content %}

    <div class="contacts">
        <h1>{% trans 'Contacts' %}</h1>
        <h2>{% trans 'Contacts form description' %}</h2>

        <div class="row">
            <div class="col-xs-12 col-sm-10 main-content">
                <div class="form-container-new">
                    <form class="contacts-form" action="" method="post" role="form" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.nome_registrazione.label }}">{{ form.nome_registrazione.label }}*:</label>
                                    {{ form.nome_registrazione|addcss:"form-control" }}
                                    {{ form.nome_registrazione.errors }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="{{ form.tiposervizio.label }}">{{ form.tiposervizio.label }}*:</label>
                                    {{ form.tiposervizio|addcss:"form-control" }}
                                    {{ form.tiposervizio.errors }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="{{ form.tipocontr.label }}">{{ form.tipocontr.label }}*:</label>
                                    {{ form.tipocontr|addcss:"form-control" }}
                                    {{ form.tipocontr.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12">
                                <div class="form-group">
                                    <label for="{{ form.tipocontratto.label }}">{{ form.tipocontratto.label }}*:</label>
                                    {% for radio in form.tipocontratto %}
                                    <div class="myradio">
                                        {{ radio }}
                                    </div>
                                    {% endfor %}
                                    {{ form.tipocontratto.errors }}
                                </div>
                            </div>

{#                            <div class="col-xs-12 col-md-6">#}
{#                                <div class="form-group">#}
{#                                    <label for="{{ form.garanzie.label }}">{{ form.garanzie.label }}*:</label>#}
{#                                    {% for radio in form.garanzie %}#}
{#                                        {{ radio }}#}
{#                                    {% endfor %}#}
{#                                    {{ form.garanzie.errors }}#}
{#                                </div>#}
{#                            </div>#}

                            <div class="col-xs-12 col-md-12">
                              <fieldset class="form-group scheduler-border">
                                <legend class="scheduler-border">Dati catastali:</legend>
                                    <div class="col-xs-3 col-md-3">
                                        <div class="form-group">
                                            <label for="{{ form.classe.label }}">{{ form.classe.label }}:</label>
                                            {{ form.classe|addcss:"form-control" }}
                                            {{ form.classe.errors }}
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-md-3">
                                        <div class="form-group">
                                            <label for="{{ form.rendita.label }}">{{ form.rendita.label }}:</label>
                                            {{ form.rendita|addcss:"form-control" }}
                                            {{ form.rendita.errors }}
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-md-3">
                                        <div class="form-group">
                                            <label for="{{ form.sezione.label }}">{{ form.sezione.label }}:</label>
                                            {{ form.sezione|addcss:"form-control" }}
                                            {{ form.sezione.errors }}
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-md-3">
                                        <div class="form-group">
                                            <label for="{{ form.foglio.label }}">{{ form.foglio.label }}:</label>
                                            {{ form.foglio|addcss:"form-control" }}
                                            {{ form.foglio.errors }}
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-md-3">
                                        <div class="form-group">
                                            <label for="{{ form.particella.label }}">{{ form.particella.label }}:</label>
                                            {{ form.particella|addcss:"form-control" }}
                                            {{ form.particella.errors }}
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-md-3">
                                        <div class="form-group">
                                            <label for="{{ form.subalterno.label }}">{{ form.subalterno.label }}:</label>
                                            {{ form.subalterno|addcss:"form-control" }}
                                            {{ form.subalterno.errors }}
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-md-3">
                                        <div class="form-group">
                                            <label for="{{ form.categoria.label }}">{{ form.categoria.label }}:</label>
                                            {{ form.categoria|addcss:"form-control" }}
                                            {{ form.categoria.errors }}
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-md-3">
                                        <div class="form-group">
                                            <label for="{{ form.comune.label }}">{{ form.comune.label }}:</label>
                                            {{ form.comune|addcss:"form-control" }}
                                            {{ form.comune.errors }}
                                        </div>
                                    </div>

                              </fieldset>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="{{ form.canonetot.label }}">{{ form.canonetot.label }}:</label>
                                    {{ form.canonetot|addcss:"form-control" }}
                                    {{ form.canonetot.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.datastipulacontratto.label }}">Data stipula contratto*:</label>
                                    {{ form.datastipulacontratto|addcss:"form-control" }}
                                    {{ form.datastipulacontratto.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.datainiziolocazione.label }}">Data inizio contratto*:</label>
                                    {{ form.datainiziolocazione|addcss:"form-control" }}
                                    {{ form.datainiziolocazione.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="form-group">
                                    <label for="{{ form.dataprimascadenzacontratto.label }}">Data prima scadenza contratto*:</label>
                                    {{ form.dataprimascadenzacontratto|addcss:"form-control" }}
                                    {{ form.dataprimascadenzacontratto.errors }}
                                </div>
                            </div>
                           <div class="col-xs-12">
                                <div class="form-group elecodfis" id="elecodfislocatoridiv">
                                    <label for="{{ form.elecodfislocatori.label }}">{{ form.elecodfislocatori.label }}:</label>
                                    {{ form.elecodfislocatori|addcss:"form-control" }}
                                    {{ form.elecodfislocatori.errors }}
                                </div>
                            </div>
                           <div class="col-xs-12">
                                <div class="form-group elecodfis" id="elecodfislocataridiv">
                                    <label for="{{ form.elecodfislocatari.label }}">{{ form.elecodfislocatari.label }}:</label>
                                    {{ form.elecodfislocatari|addcss:"form-control" }}
                                    {{ form.elecodfislocatari.errors }}
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6">

                                <div class="form-group">
                                    <label for="{{ form.first_name.id_for_label }}">
                                        {% trans "Nome" %}{% if form.first_name.field.required %}*{% endif %}:</label>
                                    {{ form.first_name|addcss:"form-control" }}
                                    {{ form.first_name.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="{{ form.last_name.id_for_label }}">{% trans "Cognome" %}{% if form.last_name.field.required %}*{% endif %}:</label>
                                    {{ form.last_name|addcss:"form-control" }}
                                    {{ form.last_name.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="{{ form.email.id_for_label }}">{% trans "Email" %}{% if form.email.field.required %}*{% endif %}:</label>
                                    {{ form.email|addcss:"form-control" }}
                                    {{ form.email.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="form-group">
                                    <label for="{{ form.tel.id_for_label }}">{% trans "Tel" %}{% if form.tel.field.required %}*{% endif %}:</label>
                                    {{ form.tel|addcss:"form-control" }}
                                    {{ form.tel.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.city.id_for_label }}">{% trans "Città" %}{% if form.city.field.required %}*{% endif %}:</label>
                                    {{ form.city|addcss:"form-control" }}
                                    {{ form.city.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.contratto.label }}">{{ form.contratto.label }}:</label>
                                    {{ form.contratto|addcss:"form-control" }}
                                    {{ form.contratto.errors }}
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.visura.label }}">{{ form.visura.label }}:</label>
                                    {{ form.visura|addcss:"form-control" }}
                                    {{ form.visura.errors }}
                                </div>
                            </div>


                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.message.id_for_label }}">{% trans "Message" %}:</label>
                                    {{ form.message|addcss:"form-control" }}
                                    {{ form.message.errors }}
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label for="{{ form.modalitapagamento.label }}">{{ form.modalitapagamento.label }}:</label>
                                    {{ form.modalitapagamento|addcss:"form-control" }}
                                    {{ form.modalitapagamento.errors }}
                                </div>
                            </div>
                            {{ form.calcolodovuto|addcss:"form-control" }}

                            <div class="row">
                                <div class="col-sm-9 consense">
                                    <div class="form-group">
                                        <p>{% trans 'Autorizzo il trattamento dei miei dati al fine di dare seguito alla mia richiesta. I dati personali saranno trattati in conformità con l’informativa presente nella sezione' %} <a href="{% page_url 'privacy'  %}" class="privacy-policy-link" target="_blank">{% trans 'privacy del sito' %}</a>*</p>
                                        {{ form.privacy_ok|addcss:'pull-left' }} <label for="id_privacy">{% trans 'Privacy policy' %}</label>
                                        {{ form.privacy_ok.errors }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-9 newsletter">
                                    <div class="form-group">
                                        <p>{% trans 'Fornisco il trattamento dei miei dati personali per finalità di marketing.' %}</p>
                                        {{ form.newsletter|addcss:'pull-left' }} <label for="id_newsletter">{% trans 'Newsletter' %}</label>
                                        {{ form.newsletter.errors }}
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <input type="submit" value="{% trans 'Send' %}" class="btn btn-default submit"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}