{% extends "core/style/default.html" %}

{% block base_content %}
    <div style="padding-top:200px;">
        Richiesta inviata con successo!!
        <br /><br />
        Procedere col pagamento col metodo selezionato : {{ modpag }}
        <br />
        {{ form.render }}
    </div>
{% endblock %}