{% extends "core/style/default.html" %}
{% load i18n sekizai_tags static cms_tags form_tags thumbnail %}
{% load static cms_tags menu_tags sekizai_tags %}

{% block css_app %}
    <link href="{% static "contacts/stylesheet/contacts.css" %}" rel="stylesheet">
{% endblock %}




{% block above_breadcrumb %}

    <div class="pg-opt" style="display: none">
        <div class="container">
            <div class="container" id="headerprod">
                <div class="row">
                    <div class="col-md-12 nopadding">
                        <h1>
                            {% page_attribute title %}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block base_content %}


    {#    <!-- Cantine Sidebar Search Column -->#}
    <div class="container lista">
        <div class="row">
            <div class="mix col-lg-12 col-md-12 col-sm-12" data-cat="{{ forloop.counter }}">
                <section class="container">


                        {% for registrazioni in gtacont %}
                            <div class="row bt panel-group">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <section class="panel panel-default bg-white">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 panel-heading">
                                                    <div class="section-title-wr">
                                                        <h4 class="section-title left"><b>
                                                            <a data-toggle="collapse" href="#collapse{{ forloop.counter }}" class="collapsepanel">
                                                                <div class="testo col-md-10">
                                                                    <span>{{ registrazioni.nome_registrazione }}</span> /
                                                                    <span>{{ registrazioni.get_tiposervizio_display }}</span> /
                                                                    <span>{{ registrazioni.get_tipocontr_display }}</span> /
                                                                    <span>{{ registrazioni.get_tipocontratto_display }}</span></b>
                                                                </div>
                                                                <div class="pull-right col-md-2 testo">
                                                                    {{ registrazioni.creation_date|date:"DATE_FORMAT" }}
                                                                </div>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-collapse collapse" id="collapse{{ forloop.counter }}">
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <div class="news-date">
                                                        <b>Data stipula contratto :</b>
                                                        <time>{{ registrazioni.datastipulacontratto|date:"DATE_FORMAT" }}</time>
                                                        <b>Data inizio locazione :</b>
                                                        <time>{{ registrazioni.datainiziolocazione|date:"DATE_FORMAT" }}</time>
                                                        <b>Data scadenza contratto :</b>
                                                        <time>{{ registrazioni.dataprimascadenzacontratto|date:"DATE_FORMAT" }}</time>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    {%  if registrazioni.elecodfislocatori %}
                                                        Elenco Locatori:
                                                        <div>
                                                            {{ registrazioni.elecodfislocatori|safe }}
                                                        </div>
                                                    {% endif %}
                                                    {%  if registrazioni.elecodfislocatari %}
                                                        Elenco Locatari:
                                                        <div>
                                                            {{ registrazioni.elecodfislocatari|safe }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-3">
                                                    <div class="canonetot">
                                                        Canone : {{ registrazioni.canonetot }}
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-3">
                                                    <div class="canonetot">
                                                       Pagato: {% if registrazioni.pagato %}SI{% else %}NO{% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-3">
                                                    <div class="canonetot">
                                                        Dovuto: {{ registrazioni.calcolodovuto }}
                                                    </div>
                                                </div>
                                                {% if registrazioni.nrprotoade %}
                                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                                        <div class="canonetot">
                                                            Protocollo : {{ registrazioni.nrprotoade }}
                                                        </div>
                                                    </div>
                                                {% endif %}

                                                <div class="col-xs-12 col-sm-12 col-md-12 daticatastali">
                                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                                    Dati catastali (classe/sezione/foglio/particella/subalterno) <br />
                                                        {{ registrazioni.classe }} /
                                                        {{ registrazioni.sezione }} / {{ registrazioni.foglio }} / {{ registrazioni.particella }} / {{ registrazioni.subalterno }}
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-2">
                                                        Categoria : {{ registrazioni.categoria }}
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                                        Comune : {{ registrazioni.comune }}
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                                        Rendita : {{ registrazioni.rendita }}
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                                                    {% if registrazioni.contratto  %}
                                                        <a class="btn btn-default" href="{{ registrazioni.contratto.url }}" target="_blank"><span>{% trans 'DOWNLOAD CONTRATTO' %}</span></a>
                                                    {% endif %}
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                                                    {% if registrazioni.visura  %}
                                                        <a class="btn btn-default" href="{{ registrazioni.visura.url }}" target="_blank"><span>{% trans 'DOWNLOAD VISURA' %}</span></a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                    </section>

                                </div>
                            </div>
                        {% endfor %}
                </section>

            </div>
        </div>
        <!-- /.row -->

    </div>
{% endblock %}