{% load sekizai_tags %}
{% load thumbnail %}
{% load static %}
{% load i18n %}

{% addtoblock "css" %}<link href="{% static 'stylesheets/pleiadi_cmsplugins/gallery/gallery_filelist_downloads.css' %}" rel="stylesheet">{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'jquery.equalheights/jquery.equalheights.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}
	<script type="text/javascript">

        $(document).ready(function(){

            function reHeight() {
                $('.filelist .download-item').css({'height': 'auto'});
                $('.filelist .download-item').equalHeights();
            }

            $( window ).resize(function() {
              reHeight();
            });

            reHeight();
        });


    </script>
{% endaddtoblock %}

<div class="filelist downloads  {% if media %}bg_image{% endif %}" {% if media %}style="background-image:url('{{ media.url }}');"{% endif %}>
    <div class="page-header">
        <h1>{{ title }}</h1>
        {{ description|safe }}
    </div>

    {% if items_list %}

        <div class="row">
            {% for item in items_list %}
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="download-item">
                        <a href="{{ item.media.url }}" target="_blank">
                            <span class="dowload_ico"></span>{{ item.media_title }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}
</div>
<!-- /.row -->



