<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>New contact from web</title>
    <style type="text/css">
        #outlook a {
            padding: 0;
        }

        body {
            max-width: 800px !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 30px;
            padding: 0;
        }

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
        }

        #backgroundTable {
            margin: 0;
            padding: 0;
            width: 100% !important;
            line-height: 100% !important;
        }

        img {
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        a img {
            border: none;
        }

        .image_fix {
            display: block;
        }

        p {
            margin: 1em 0;
        }

        h1, h2, h3, h4, h5, h6 {
            color: black !important;
        }

        h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
            color: blue !important;
        }

        h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active {
            color: red !important;
        }

        h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
            color: purple !important;
        }

        table td {
            border-collapse: collapse;
        }

        table {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        a {
            color: orange;
        }

        @media only screen and (max-device-width: 480px) {
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: blue;
                pointer-events: none;
                cursor: default;
            }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: inherit;
                color: orange !important;
                pointer-events: auto;
                cursor: default;
            }

        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            a[href^="tel"], a[href^="sms"] {
                text-decoration: none;
                color: blue;
                pointer-events: none;
                cursor: default;
            }

            .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
                text-decoration: inherit;
                color: orange !important;
                pointer-events: auto;
                cursor: default;
            }
        }

        /*************** TABLE CSS ******************/
        #backgroundTable {
            margin: 0;
            padding: 0;
            width: 100% !important;
            line-height: 100% !important;
        }

        #backgroundTable td.header {
            width: 180px;
            font-weight: bold;
            background-color: #E5E5E5;
        }

        #backgroundTable td {
            background-color: #e8edff;
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: #ffffff;
            color: #666699;
            padding-top: 8px;
            padding-right: 8px;
            padding-bottom: 8px;
            padding-left: 8px;
        }

        #backgroundTable tr td.value:hover {
            background-color: #d0dafd;
        }

    </style>
</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
        <th>
            <table cellpadding="10px" cellspacing="0" border="0">
                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; background-color: #666666; color: white">
                    <td valign="bottom" width="1%">
                        <img src="http://comfortzone.dev10.studiopleiadi.it/static/mailing/images/envelop-white-80w.png"/>
                    </td>
                    <td width="99%" valign="middle" align="left">{{ mail_title }}</td>
                </tr>
            </table>
        </th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td colspan="2" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #666666;">
            {% block mail_base_content %}{% endblock %}
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
