{% extends "core/style/default.html" %}
{% load cms_tags i18n static menu_tags sekizai_tags thumbnail %}

{% block title %}{{ boutiques.seo.seo_title }}{% endblock %}
{% block meta_description %}{{ boutiques.seo.seo_description }}{% endblock %}

{% block css_app %}
	<link href="{% static "boutiques/stylesheet/boutiques.css" %}" rel="stylesheet">
{% endblock %}

{% block under_header %}
    <div style="background-image:url({% static 'core/images/headerok.jpg' %}); height:px;" class="title animate has_background">
    </div>
{% endblock %}

{% block base_content %}

    <div class="boutiques">
        <div class="boutiques-content">
            <div class="row">
                <div class="col-xs-12 col-md-9 wow fadeInLeftBig">
                    <h1>{{ boutiques.title }}</h1>
                    <div class="center-content">
                        {{ boutiques.description|safe }}
                    </div>
                    <div class="gallery">
                        <div class="row">

                            <div class="title_with_line_holder">
                                <h5 style="color: ;" class="title_with_line">{% trans 'Photogallery' %}</h5>
                                <div class="title_with_line_separator"></div>
                            </div>

                            {% if boutiques.media.all %}
                                    {% for gallery_item in boutiques.media.all %}
                                        {% thumbnail gallery_item.file boutiques.thumbnail_size crop upscale as thumb %}
                                        <div class="col-xs-12 col-md-6 wow fadeInUp">

                                            <a class="swipebox image" rel="group" href="{{ gallery_item.file.url }}" title="{% if gallery_item.title %}{{ gallery_item.title }}{% endif %}">
                                                <img class="img-responsive thumbnail " src="{{ thumb.url }}" alt="{% if gallery_item.title %}{{ gallery_item.title }}{% endif %}" />
                                            </a>
                                        </div>
                                    {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 wow fadeInRightBig">
                    <div class="aside widget">
                        <h5 >{% trans 'DOVE SIAMO' %}</h5>
                        <div class="center-content">
                            <a href="{{ boutiques.link_dovesiamo }}" target="_blank">
                                <img src="{{ boutiques.image_dovesiamo.url }}" />
                            </a>
                        </div>
                    </div>
                    <div class="aside widget">
                        <div class="call_action">
                                {% include "boutiques/call_toaction.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'swipebox/src/css/swipebox.css' %}">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'stylesheets/pleiadi_cmsplugins/gallery/gallery_filelist_imagegallery.css' %}">{% endaddtoblock %}
    {% addtoblock "js" %}<script src="{% static 'swipebox/src/js/jquery.swipebox.min.js' %}"></script>{% endaddtoblock %}
    {% addtoblock "js" %}
        <script type="text/javascript">
            $(function() {
                $( '.swipebox' ).swipebox();
            });
        </script>
    {% endaddtoblock %}

{% endblock %}

