{% load sekizai_tags %}
{% load i18n %}
{% load cms_tags %}
{% get_current_language as LANGUAGE_CODE %}

<div class="contattacicall">
    <h5>{% trans "CONTATTI" %}</h5>
    <p>
        {% trans 'Per richiedere maggiori informazioni sui nostri brand e gioielli compila il form.' %}
    </p>
	<a title='{% trans "CONTATTI" %}' href="{ page_url 'contact_form' LANGUAGE_CODE }" class="btn btn-default">{% trans "CONTATTACI" %}</a>
</div>		

