{% extends "core/style/tools.html" %}
{% load cms_tags %}

{% block base_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="column col-lg-12">


                <h1>Product Import</h1>
                <div>
                    <h2>Summary</h2>
                    <ul>
                        <li>Products: {{ total_products }}</li>
                        <li>New products: {{ new_products }}</li>
                        <li>Updated products: {{ updated_products }}</li>
                        <li>Removed products: 2</li>
                    </ul>

                </div>


                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    Product import preview
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <table class="table table-striped">
                                    {% include "products/importer/products_previrew_list.html" %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="{% url "import_result" %}">Import</a>
            </div>
        </div>
    </div>
{% endblock %}