<tr>
    <td>ID (Status)</td>
    <td>Title</td>
    <td>Brand</td>
    <td>Collection</td>
    <td>Gender</td>
    <td>Watch Strap</td>
    <td>Material</td>
    <td>Movement</td>
    <td>Watch type</td>
</tr>

{% for product in products %}
    <tr class="{{ product.import_status }}">
        <td>{{ product.fields.xml_id.value }} ({{ product.import_status_template.label }})</td>
        <td class="{{ product.fields.title.import_status_template.css_class }}">{{ product.fields.title.value }}</td>
        <td class="{{ product.fields.brand.import_status_template.css_class }}">{{ product.fields.brand.value }}</td>
        <td class="{{ product.fields.collection.import_status_template.css_class }}">{{ product.fields.collection.value }}</td>
        <td class="{{ product.fields.gender.import_status_template.css_class }}">{{ product.fields.gender.value }}</td>
        <td class="{{ product.fields.watch_strap.import_status_template.css_class }}">{{ product.fields.watch_strap.value }}</td>
        <td class="{{ product.fields.material.import_status_template.css_class }}">{{ product.fields.material.value }}</td>
        <td class="{{ product.fields.movement.import_status_template.css_class }}">{{ product.fields.movement.value }}</td>
        <td class="{{ product.fields.watch_type.import_status_template.css_class }}">{{ product.fields.watch_type.value }}</td>
    </tr>
{% endfor %}