{% extends "core/style/tools.html" %}
{% load cms_tags %}

{% block base_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="column col-lg-12">


                <h1>Product Import</h1>
                <div>
                    <h2>Errors</h2>
                    <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}

                    </ul>

                </div>


            </div>
        </div>
    </div>
{% endblock %}