{% load menu_tags %}
{% load cms_tags %}

<div class="row">
    <div class="col-xs-12 ">
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                {% for ance in ancestors %}
                    <li class="{% if ance.selected %}selected active{% endif %}{% if ance.ancestor %}ancestor{% endif %}{% if ance.sibling %}sibling{% endif %}{% if ance.descendant %}descendant{% endif %}">
                        {% if forloop.last %}
                            {{ ance.get_menu_title }}
                        {% else %}
                            <a href="{{ ance.get_absolute_url }}">{{ ance.get_menu_title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul><!-- .breadcrumb -->
        </div>
    </div>
</div>