<li class="dropdown">
            {% for child in children %}
                    <a class="{% if child.selected %}active{% endif %}" href="{{ child.get_absolute_url }}">
                        {{ child.get_menu_title }}
                    </a>
                    {% if child.children %}
                    <div class="subcat {% if child.selected %}active{% endif %}">
                        <ul>
                            {% for subchild in child.children %}
                            <li>
                                <a href="{{ subchild.get_absolute_url }}">
                                    <i class="fa fa-chevron-circle-right"></i>{{ subchild.get_menu_title }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
            {% endfor %}
</li>