{% extends "core/style/default.html" %}

{% block base_content %}
    <div style="padding-top:200px;">
        Pagamento avvenuto con successo!!!<br />
        Grazie<br />
        Riepilogo dati :
        hai pagato euro : {{ amount }}
        a : {{ receiver_email }}
        <br /><br />
        Stato pagamento : {{ payment_status }}
        <br />
    </div>
{% endblock %}