{% extends "core/style/default.html" %}

{% block base_content %}
    <div style="padding-top:200px;">
        Vi sono stati problemi nella riscossione del pagamento, controllare il proprio metodo di pagamento.
{#        <br />Usando Paypal o carta di credito per l'importo di: <br />#}
{#        {{ amount }}#}
{#        a <br />#}
{#        {{ receiver_email }}#}
{#        <br /><br />#}
{#        {{ payment_status }}#}
{#        <br />#}
        <br /> Verrete contattati dal fornitore del sistema per i dettagli su come poter effettuare il pagamento.<br/>
    </div>
{% endblock %}