@import "../../../../core/static/core/stylesheet/base";

.boutiques {
  h2 {
    font-family: 'EhrhardtMTStdRegular';
    font-size: 38px;
    margin: 20px 0 0 0;
    text-transform: uppercase;
  }
  /* TOPICS */
  .topics {
    padding-top: 20px;
    .topic-item {
      .topic-boutiques {
        position: relative;
        border-top: 1px solid #3a3a3a;
        .topic-inner {
          padding-top: 20px;
        }
      }
    }
  }

  .treat-item {
    .treat-inner {
      padding-bottom: 30px;
      h4 {
        font-family: 'NobelLight';
        font-size: 34px;
        font-weight: 300;
        text-transform: uppercase;
      }
      .payoff {
        font-size: 20px;
        font-weight: 500;
      }
      .duration {
        font-weight: bold;
        text-transform: uppercase;
        span {
          font-weight: normal;
        }
      }
      .readmore {
        padding-top: 10px;
      }
    }
  }

  /* LINES */
  ul.line-menu {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
    li {
      display: table-cell;
      width: 20%;
      a {
        background-position: right center;
        background-repeat: no-repeat;
        color: #3c3c3b;
        display: block;
        font-size: 30px;
        font-weight: 300;
        margin-left: 10px;
        padding: 22px 10px;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
        }
      }
      &:first-child {
        a {
          margin-left: 0;
        }
      }
    }
  }

  &.line {
    .line-title {
      background-position: right center;
      background-repeat: no-repeat;
      padding: 8px;
    }
    .boutiques {
      padding-top: 20px;
      .line-boutiques {
        border-top: 1px solid #3a3a3a;
        padding-top: 20px;
        position: relative;
      }
    }
  }

  .slick-slider {
    padding-bottom: 36px;
    .slick-slide {
      .caption {
        background-color: rgba(250, 250, 250, 0.7);
        bottom: 0;
        height: 100%;
        padding-top: 48px;
        width: 450px;

        font-size: 22px;
        font-weight: 300;
        line-height: 1;
        color: #2d2c2b;
        h2 {
          padding-bottom: 76px;
        }
        h3 {
          font-family: 'NobelLight';
          font-size: 28px;
          color: #464340;
          font-weight: 300;
          text-transform: uppercase;
          padding-bottom: 20px;
        }
      }
    }
  }
}



/* ---------------------------------------------------------- */
/* LEFT COLUMN - SUB MENU */
.left-col {
  h3{
    font-family: 'NobelLight';
    font-size: 34px;
    font-weight: 300;
    margin-top: 0;
    text-transform: uppercase;
  }
  .submenu-container {
    border-right: 1px solid $brand-primary;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }
  .sub-menu {
    .list-group {
      &.panel {
        border-bottom: 1px solid #3e3e3e;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 20px 0 30px 0;
      }
    }
    .list-group-item {
      border: none;
      margin-bottom: 0;
      padding: 2px 0;
    }
    a, button{
      &.list-group-item-submenu {
        background-color: transparent;
        border: none;
        color: $gray-soandso;
        font-family: 'NobelLight';
        font-size: 24px;
        font-weight: 300;
        line-height: 0.9em;
        text-transform: uppercase;
        &:hover {
          color: $gray-darker;
        }
        &.active {
          color: $gray-darker;
         // border-bottom: 1px solid $gray-darker;
          //.caret {
          //  display: inline-block;
          //}
        }
      }
    }
    .submenuitems {
      border-bottom: 1px solid $brand-primary;
      border-top: 1px solid $brand-primary;
      margin-top: 8px;
      padding: 14px 0;
      position: relative;
      .list-group-item {
        color: $gray-lblight;
        font-family: 'EhrhardtMTStdRegular';
        font-size: 16px;
        padding-top: 6px;
        text-transform: uppercase;
        &.active {
          background-color: transparent;
          border-bottom: 1px solid #cfcfcf;
          border-top: 1px solid #cfcfcf;
          color: $brand-primary;
        }
      }
      .caret {
        top: 0;
      }
    }
  }
}
/* ---------------------------------------------------------- */

/* TREATMENT - MODAL */
#treatment-modal {
  .modal-body {
    padding: 0;
    .treatment-content {
      display: table;
      .left-content {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
        display: table-cell;
        padding: 15px;
        vertical-align: middle;
        width: 40%;
      }
      .center-content {
        display: table-cell;
        font-size: 20px;
        font-weight: 300;
        padding: 15px;
        width: 60%;
        h3 {
          font-family: 'Open Sans';
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
        }
        .treat-lines {
          font-family: 'EhrhardtMTStdRegular';
          font-size: 30px;
          padding-top: 30px;
        }
      }
      h1 {
        padding-bottom: 80px;
      }
      h2 {
        font-family: 'NobelLight';
        font-size: 22px;
        font-weight: 300;
        text-transform: uppercase;
      }
      .payoff {
        font-size: 20px;
      }
      .duration {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        span {
          font-weight: normal;
        }
      }
      .network {
        font-family: 'Open Sans';
        font-size:14px;
        padding-top: 100px;
        .title {
          font-weight: 600;
          text-transform: uppercase;
        }
        .subtitle {

        }
        .cap-input {
          padding-top: 24px;
        }
      }

    }
  }
  button.close {
    background-color: #8e8e8e;
    color: #ffffff;
    font-family: 'NobelLight';
    font-weight: 300;
    font-size: 28px;
    left: auto;
    opacity: 1;
    padding: 4px 14px 10px;
    position: absolute;
    right: 0;
    z-index: 1000;
  }
}